@model IEnumerable<Beamity.Application.DTOs.BuildingDTOs.ReadBuildingDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row justify-content-start m-1">
    <button id="btnShowModal" type="button" class="btn btn-outline-success">
        Create New
    </button>
    <div class="col-md-1"></div>
</div>
<div class="modal fade" tabindex="-1" id="loginModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align-content-lg-start">Create Building</h4>
                <button type="button" class="close text-lg-right" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input class="form-control" type="text"
                               placeholder="Building Name" id="inputName" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Locations</label>
                        <select id="locations" class="form-control"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="create" class="btn btn-primary button button4">Create</button>
                <button type="button" id="btnHideModal" class="btn btn-primary button button4">
                    Hide
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="deleteModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align-content-lg-start">Delete Building</h4>
                <button type="button" class="close text-lg-right" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to delete this?</h4>
                <p id="deleteModalText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="delete" class="btn btn-primary button button4">Delete</button>
                <button type="button" id="deleteHideModal" class="btn btn-primary button button4">
                    Hide
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="detailModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align-content-lg-start">Building Details</h4>
                <button type="button" class="close text-lg-right" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <p id="detailModalText"></p>
                    <div class="form-group">
                        <input class="form-control" type="text"
                               placeholder="Name" id="editName" />
                    </div>

                    <select class="form-control" id="Editlocations"></select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="update" class="btn btn-primary button button4">Update</button>
                <button type="button" id="detailHideModal" class="btn btn-primary button button4">
                    Hide
                </button>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedTime)
            </th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedTime)
                </td>

                <td>
                    <input type="button" class="btn btn-primary" data-id="@item.Id" data-name="@item.Name"
                           data-ctime="@item.CreatedTime" value="Details" id="detailShowModal" /> |
                    <input type="button" class="btn btn-primary" id="deleteShowModal" data-name="@item.Name" data-id="@item.Id" value="Delete" />
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

</script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">
    function swalload() {
        swal.fire({
            title: 'Loading....',
            html: 'Please wait during the processing time',
            timer: 10000,
            onBeforeOpen: () => {
                Swal.showLoading()
                timerInterval = setInterval(() => {
                    Swal.getContent().querySelector('strong')
                        .textContent = Swal.getTimerLeft()
                }, 100)
            },
            onClose: () => {

            }
        });
    }
    $(document).ready(function () {
        $("#btnShowModal").click(function () {
            $("#loginModal").modal('show');

        });

        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });
    });
    $("#create").click(function () {
        swalload();
        var options = {};
        options.url = "https://localhost:5001/api/Building/CreateBuilding/";
        options.type = "POST";
        debugger
        var obj = {};
        obj.Name = $("#inputName").val();
        obj.LocationId = $("#locations").val();

        options.data = JSON.stringify(obj);
        options.contentType = "application/json";
        options.dataType = "html";
        debugger
        options.success = function (msg) {
            $("#msg").html(msg);
            Swal({
                type: 'success',
                title: 'Thanks',
                text: 'Operation is success',
            }).then(function () {

                window.location.href = "/Building/Index";
            })
        };
        options.error = function () {
            $("#msg").html("Error while calling the Web API!");
        };
        $.ajax(options);
        $("#loginModal").modal('hide');
    });
    $(document).ready(function () {
        var options = {};
        options.url = "https://localhost:5001/api/Location/GetAllLocation";
        options.type = "GET";
        options.dataType = "json";
        options.success = function (data) {
            debugger
            data.forEach(function (v) {
                $("#locations").append('<option value="' + v.id + '">' + v.name + '</option>');
                $("#Editlocations").append('<option value="' + v.id + '">' + v.name + '</option>');
            });
        };
        options.error = function () {
            alert("error");
        };
        $.ajax(options);
    });
    $(document).ready(function () {
        $('[id="deleteShowModal"]').click(function () {
            $("#deleteModal").modal('show');
            var id = $(this).data('id');
            var name = $(this).data('name');
            $("#deleteModalText").empty();
            $("#deleteModalText").append(name).append('<input type="hidden" id="deleteModalId"/>');
            $('#deleteModalId').val(id);
        });

        $("#deleteHideModal").click(function () {
            $("#deleteModal").modal('hide');
        });
    });
    $("#delete").click(function () {
        swalload();
        var options = {};
        options.url = "https://localhost:5001/api/Building/DeleteBuilding";
        options.type = "DELETE";
        var obj = {};
        obj.Id = $("#deleteModalId").val();
        options.data = JSON.stringify(obj);
        options.contentType = "application/json";
        options.dataType = "html";
        options.dataType = "html";
        debugger
        options.success = function () {
            Swal({
                type: 'success',
                title: 'Thanks',
                text: 'Operation is success',
            }).then(function () {

                window.location.href = "/Building/Index";
            })
        };
        options.error = function () {
            Swal({
                type: 'error',
                title: 'Oppsss...',
                text: 'Operation is not success. The item you want to delete have a relation.',
            }).then(function () {
                window.location.href = "/Building/Index";
            })
        };
        $("#deleteModal").modal('hide');
        $.ajax(options);
    });
   
    $("#update").click(function () {
        swalload();
        var options = {};
        options.url = "https://localhost:5001/api/Building/UpdateBuilding";
        options.type = "PUT";
        var obj = {};
        obj.Id = $("#detailModalId").val();
        obj.Name = $("#editName").val();
        obj.LocationId = $("#Editlocations").val();
        obj.CreatedTime = $.now();

        debugger
        options.data = JSON.stringify(obj);
        options.contentType = "application/json";
        options.dataType = "html";
        debugger
        options.success = function () {
            Swal({
                type: 'success',
                title: 'Thanks',
                text: 'Operation is success',
            }).then(function () {

                window.location.href = "/Building/Index";
            })
        };
        options.error = function () {
            Swal({
                type: 'error',
                title: 'Oppsss...',
                text: 'Operation is not success. The item you want to delete have a relation.',
            }).then(function () {
                window.location.href = "/Building/Index";
            })
        };
        $("#detailModal").modal('hide');
        $.ajax(options);
    });
    $(document).ready(function () {
        $('[id="detailShowModal"]').click(function () {
            $("#detailModal").modal('show');

            var id = $(this).data('id');
            var name = $(this).data('name');
            var location = $(this).data('location');

            $("#editName").val(name);
            $("#Editlocations").val(location);

            $("#detailModalText").append('<input type="hidden" id="detailModalId"/>');
            $('#detailModalId').val(id);
        });

        $("#detailHideModal").click(function () {
            $("#detailModal").modal('hide');
        });
    });
</script>