@model IEnumerable<Beamity.Application.DTOs.BuildingDTOs.ReadBuildingDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Create New Button-->
<div class="col-md-12 mt-2">
    <div class="row">
        <div class="col-md-6">
            <h3>
                <i class="far fa-list-alt"></i> Buildings List Page
            </h3>
        </div>
        <div class="col-md-6 text-right">
            <button id="btnShowModal" type="button" class="btn btn-success m-1">
                Create <i class="far fa-plus-square"></i>
            </button>
        </div>
    </div>
</div>
<!--Create New Building-->
<div class="modal fade" tabindex="-1" id="loginModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align-content-lg-start">Create Building</h4>
                <button type="button" class="close text-lg-right" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <form name="CreateBuildingForm" onsubmit="return false">
                    <div class="form-group">
                        <input class="form-control" type="text"
                               placeholder="Building Name" id="inputName" required />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="create" class="btn btn-primary">Create</button>
                        <button type="button" id="btnHideModal" class="btn btn-primary">
                            Hide
                        </button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
<!--Delete Building-->
<div class="modal fade" tabindex="-1" id="deleteModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align-content-lg-start">Delete Building</h4>
                <button type="button" class="close text-lg-right" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to delete this?</h4>
                <p id="deleteModalText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="deleteBuilding" class="btn btn-primary button button4">Delete</button>
                <button type="button" id="deleteHideModal" class="btn btn-primary button button4">
                    Hide
                </button>
            </div>
        </div>
    </div>
</div>
<!--Edit Buildings-->
<div class="modal fade" tabindex="-1" id="detailModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align-content-lg-start">Building Details</h4>
                <button type="button" class="close text-lg-right" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <p id="detailModalText"></p>
                    <div class="form-group">
                        <input class="form-control" type="text"
                               placeholder="Name" id="editName" />
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="update" class="btn btn-primary button button4">Update</button>
                <button type="button" id="detailHideModal" class="btn btn-primary button button4">
                    Hide
                </button>
            </div>
        </div>
    </div>
</div>

<!--List Buildings-->
<table class="table table-bordered table-hover text-center">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedTime)
            </th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedTime)
                </td>

                <td>
                    <button type="button" class="btn btn-warning" data-id="@item.Id" data-name="@item.Name"
                            data-ctime="@item.CreatedTime" value="Details" id="detailShowModal">
                        <i class="fas fa-info-circle"></i> Details
                    </button>
                    <button type="button" class="btn btn-danger" id="deleteShowModal" data-name="@item.Name" data-id="@item.Id" value="Delete"><i class="far fa-trash-alt"></i> Delete</button>
                    <button type="button" class="btn btn-primary" id="floorsShowModal" data-id="@item.Id" data-name="@item.Name" value="Floors"><i class="fab fa-buffer"></i> Floors</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<!--List Floors Modal-->
<div class="modal fade" tabindex="-1" id="floorModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title align-content-lg-start" id="Title"></h5>
                <button type="button" class="close text-lg-right" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <button type="button" id="ShowCreateFloorModal" class="btn btn-outline-success mb-2" data-dismiss="modal">
                    Create A New Floor
                </button>
                <table class="table table-bordered table-hover text-left">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody id="tdappend"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="floorsHideModal" class="btn btn-danger">
                    <i class="far fa-times-circle"></i>
                    Back
                </button>
            </div>
        </div>
    </div>
</div>
<!--List Rooms Modal-->
<div class="modal fade" tabindex="-1" id="roomModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title align-content-lg-start" id="TitleRoom"></h5>
                <button type="button" class="close text-lg-right" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <button class="btn btn-outline-success mb-2" id="CreateShowRoomModal">Create A New Room</button>
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody id="tdappendroom"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="update" class="btn btn-primary button button4">Update</button>
                <button type="button" id="roomHideModal" class="btn btn-primary button button4">
                    Hide
                </button>
            </div>
        </div>
    </div>
</div>
<!--List Artifact Modal-->
<div class="modal fade" tabindex="-1" id="artifactModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title align-content-lg-start" id="TitleArtifact"></h5>
                <button type="button" class="close text-lg-right mb-2" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody id="tdappendartifact"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="artifactHideModal" class="btn btn-primary button button4">
                    Hide
                </button>
            </div>
        </div>
    </div>
</div>

<!--Create New Floor-->
<div class="modal fade" tabindex="-1" id="CreateFloorModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align-content-lg-start">Create Floor</h4>
                <button type="button" class="close text-lg-right" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <form name="CreateFloorForm" onsubmit="return false">
                    <div class="form-group">
                        <input class="form-control" type="text"
                               placeholder="Floor Name" id="floorname" required/>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="CreateFloorButton" class="btn btn-primary">Create</button>
                        <button type="button" id="HideCreateFloorModal" class="btn btn-primary">
                            Hide
                        </button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
<!--Delete Floor-->
<div class="modal fade" tabindex="-1" id="deleteFloorModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align-content-lg-start">Delete Floor</h4>
                <button type="button" class="close text-lg-right" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to delete this?</h4>
                <p id="deleteModalText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="delete" class="btn btn-danger">Delete</button>
                <button type="button" id="deleteFloorHideModal" class="btn btn-warning">
                    Hide
                </button>
            </div>
        </div>
    </div>
</div>
<!--Create Room-->
<div class="modal fade" tabindex="-1" id="CreateRoomModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align-content-lg-start">Create Room</h4>
                <button type="button" class="close text-lg-right" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <p>You adding room on <b id="floorName"></b> </p>
                <form name="CreateRoomForm" onsubmit="return false">
                    <div class="form-group">
                        <input class="form-control" type="text"
                               placeholder="Room Name" id="RoomName" required />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="CreateRoomButton" class="btn btn-primary">Create</button>
                        <button type="button" id="btnHideModal" class="btn btn-primary">
                            Hide
                        </button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
<!--Delete Room-->
<div class="modal fade" tabindex="-1" id="deleteRoomModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align-content-lg-start">Delete Floor</h4>
                <button type="button" class="close text-lg-right" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to delete this?</h4>
                <p id="deleteModalText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="deleteroom" class="btn btn-danger">Delete</button>
                <button type="button" id="deleteFloorHideModal" class="btn btn-warning">
                    Hide
                </button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

    /*Loading swal modal*/
    function swalload() {
        swal.fire({
            title: 'Loading....',
            html: 'Please wait during the processing time',
            timer: 10000,
            onBeforeOpen: () => {
                Swal.showLoading()
                timerInterval = setInterval(() => {
                    Swal.getContent().querySelector('strong')
                        .textContent = Swal.getTimerLeft()
                }, 100)
            },
            onClose: () => {

            }
        });
    }
    /*List Floor Modal*/
    var name;
    var buildingId;
    var selectedBuilding;
    var selectedFloor;
    var SelectedRoom;
    $('[id="floorsShowModal"]').click(function () {

        var options = {};
        options.url = "https://localhost:5001/api/Floor/GetFloorsAtBuilding";
        var obj = {};
        obj.Id = $(this).data("id");
        selectedBuilding = $(this).data("name");
        buildingId = $(this).data("id");
        debugger
        options.type = "POST";
        options.dataType = "json";
        options.contentType = "application/json";
        options.data = JSON.stringify(obj);
        options.success = function (data) {
            $('#Title').text(selectedBuilding);
            $("#floorList").empty();
            //data.forEach(function (v) {
            //    $("#floorList").append('<p>' + '<button class="btn btn-primary clicked" style="width:400px;" value="' + v.id + '">' + v.name + '</button>' + '</p>');
            //});
            $("#tdappend").empty();
            data.forEach(function (v) {
                $("#tdappend").append("<tr><td>" + v.name + "</td><td><button type='button' id='selectFloor' data-name='" + v.name + "' data-id='" + v.id + "' class='btn btn-primary'><i class='far fa-check-circle'></i> Select</button>  <button type='button' id='deleteFloor' data-name='" + v.name + "' data-id='" + v.id + "' class='btn btn-danger'><i class='far fa-times-circle'></i> Delete</button></td></tr> ");

            });

        };
        options.error = function () {
            alert("error");
        };
        $.ajax(options);

    });
    /*List Room Modal*/
    $(document).on('click', '[id="selectFloor"]', function () {
        var options = {};
        options.url = "https://localhost:5001/api/Room/GetRoomsOnFloor";
        var obj = {};
        obj.Id = $(this).data("id");
        selectedFloor = $(this).data("name");
        options.type = "POST";
        options.dataType = "json";
        options.contentType = "application/json";
        options.data = JSON.stringify(obj);
        debugger
        options.success = function (data) {
            $('#TitleRoom').text("");
            $('#TitleRoom').text(selectedBuilding + ">" + selectedFloor);
            $("#tdappendroom").empty();
            data.forEach(function (v) {
                $("#tdappendroom").append("<tr><td>" + v.name + "</td><td><button type='button' id='selectRoom' data-name='" + v.name + "' data-id='" + v.id + "' class='btn btn-primary'>Select</button> <button type='button' id='DeleteRoomButton' data-name='" + v.name + "' data-id='" + v.id + "' class='btn btn-danger'>Delete</button></td></tr> ");

            });

        };
        options.error = function () {
            alert("error");
        };
        $.ajax(options);

    });
    /*List Artifact Modal*/
    $(document).on('click', '[id="selectRoom"]', function () {
        var options = {};
        options.url = "https://localhost:5001/api/Artifact/GetArtifactsInRoom";
        var obj = {};
        obj.Id = $(this).data("id");
        SelectedRoom = $(this).data("name");
        options.type = "POST";
        options.dataType = "json";
        options.contentType = "application/json";
        options.data = JSON.stringify(obj);
        debugger
        options.success = function (data) {
            $('#TitleArtifact').text("");
            $('#TitleArtifact').text(selectedBuilding + ">" + selectedFloor + ">" + SelectedRoom);
            $("#tdappendartifact").empty();
            data.forEach(function (v) {
                $("#tdappendartifact").append("<tr><td>" + v.name + "</td></tr> ");

            });

        };
        options.error = function () {
            alert("error");
        };
        $.ajax(options);

    });
    /*Show and Hide Modals*/
    $(document).ready(function () {
        $("#btnShowModal").click(function () {
            $("#loginModal").modal('show');
        });
        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });
        /*SHow and hide floor modals*/
        $('[id="floorsShowModal"]').click(function () {
            $("#floorModal").modal('show');
        });
        $("#floorsHideModal").click(function () {
            $("#floorModal").modal('hide');
        });
        /*Show and hide Room modals*/
        $(document).on('click', '[id="selectFloor"]', function () {
            $('#TitleRoom').empty();
            $('#TitleArtifact').empty();
            $("#roomModal").modal('show');
            $("#floorModal").modal('hide');
        });
        $(document).on('click', '[id="roomHideModal"]', function () {
            name = "";
            $("#tdappendroom").empty();
            $("#roomModal").modal('hide');
            $("#floorModal").modal('show');
        });
        /*Show and hide Artifacts modals*/
        $(document).on('click', '[id="selectRoom"]', function () {
            $('#TitleArtifact').empty();
            $("#artifactModal").modal('show');
            $("#roomModal").modal('hide');
        });
        $(document).on('click', '[id="artifactHideModal"]', function () {
            $('#TitleArtifact').empty();
            $("#artifactModal").modal('hide');
            $("#roomModal").modal('show');
        });
        /*show create floor modal*/

        $(document).on('click', '[id="ShowCreateFloorModal"]', function () {
            $("#CreateFloorModal").modal('show');
            $("#floorModal").modal('hide');
        });
        $(document).on('click', '[id="HideCreateFloorModal"]', function () {
            $("#CreateFloorModal").modal('hide');
            $("#floorModal").modal('show');
        });

    });
    /*Create Building*/
    $('form[name=CreateBuildingForm]').submit(function () {
        swalload();
        var options = {};
        options.url = "https://localhost:5001/api/Building/CreateBuilding/";
        options.type = "POST";
        var obj = {};
        obj.Name = $("#inputName").val();
        obj.LocationId = locationId;
        options.data = JSON.stringify(obj);
        options.contentType = "application/json";
        options.dataType = "html";

        options.success = function (msg) {
            $("#msg").html(msg);
            Swal({
                type: 'success',
                title: 'Thanks',
                text: 'Operation is success',
            }).then(function () {

                window.location.href = "/Building/Index";
            })
        };
        options.error = function () {
            $("#msg").html("Error while calling the Web API!");
        };
        $.ajax(options);
        $("#loginModal").modal('hide');
    });
    $(document).ready(function () {
        $('[id="deleteShowModal"]').click(function () {
            $("#deleteModal").modal('show');
            var id = $(this).data('id');
            var name = $(this).data('name');
            $("#deleteModalText").empty();
            $("#deleteModalText").append(name).append('<input type="hidden" id="deleteModalId"/>');
            $('#deleteModalId').val(id);
        });

        $("#deleteHideModal").click(function () {
            $("#deleteModal").modal('hide');
        });
    });
    /*Delete Building*/
    $("#deleteBuilding").click(function () {
        swalload();
        var options = {};
        options.url = "https://localhost:5001/api/Building/DeleteBuilding";
        options.type = "DELETE";
        var obj = {};
        obj.Id = $("#deleteModalId").val();
        options.data = JSON.stringify(obj);
        options.contentType = "application/json";
        options.dataType = "html";
        debugger
        options.success = function () {
            Swal({
                type: 'success',
                title: 'Thanks',
                text: 'Operation is success',
            }).then(function () {

                window.location.href = "/Building/Index";
            })
        };
        options.error = function () {
            Swal({
                type: 'error',
                title: 'Oppsss...',
                text: 'Operation is not success. The item you want to delete have a relation.',
            }).then(function () {
                window.location.href = "/Building/Index";
            })
        };
        $("#deleteModal").modal('hide');
        $.ajax(options);
    });
    /*Update Building*/
    $("#update").click(function () {
        swalload();
        var options = {};
        options.url = "https://localhost:5001/api/Building/UpdateBuilding";
        options.type = "PUT";
        var obj = {};
        obj.Id = $("#detailModalId").val();
        obj.Name = $("#editName").val();
        obj.LocationId = locationId;
        obj.CreatedTime = $.now();

        debugger
        options.data = JSON.stringify(obj);
        options.contentType = "application/json";
        options.dataType = "html";
        debugger
        options.success = function () {
            Swal({
                type: 'success',
                title: 'Thanks',
                text: 'Operation is success',
            }).then(function () {

                window.location.href = "/Building/Index";
            })
        };
        options.error = function () {
            Swal({
                type: 'error',
                title: 'Oppsss...',
                text: 'Operation is not success. The item you want to delete have a relation.',
            }).then(function () {
                window.location.href = "/Building/Index";
            })
        };
        $("#detailModal").modal('hide');
        $.ajax(options);
    });
    $(document).ready(function () {
        $('[id="detailShowModal"]').click(function () {
            $("#detailModal").modal('show');

            var id = $(this).data('id');
            var name = $(this).data('name');
            var location = $(this).data('location');

            $("#editName").val(name);
            $("#Editlocations").val(location);

            $("#detailModalText").append('<input type="hidden" id="detailModalId"/>');
            $('#detailModalId').val(id);
        });

        $("#detailHideModal").click(function () {
            $("#detailModal").modal('hide');
        });
    });
    /*Create Floor*/
    $('form[name=CreateFloorForm]').submit(function () {
        swalload();
        var options = {};
        options.url = "https://localhost:5001/api/Floor/CreateFloor";
        options.type = "POST";
        var obj = {};
        obj.Name = $("#floorname").val();
        obj.BuildingId = buildingId;
        options.data = JSON.stringify(obj);
        options.contentType = "application/json";
        options.dataType = "html";
        options.success = function (msg) {
            $("#msg").html(msg);
            Swal({
                type: 'success',
                title: 'Thanks',
                text: 'Operation is success',
            }).then(function () {
                window.location.reload();

            })
        };
        options.error = function () {
            $("#msg").html("Error while calling the Web API!");
            alert("Hata");
        };
        $.ajax(options);
    });
    /*Delete Floor*/
    $(document).ready(function () {

        $("body").on("click", "[id='deleteFloor']", function () {
            $("#deleteFloorModal").modal('show');
            $("#floorModal").modal('hide');

            var id = $(this).data('id');
            var name = $(this).data('name');
            $("#deleteModalText").empty();
            $("#deleteModalText").append(name).append('<input type="hidden" id="deleteModalId"/>');
            $('#deleteModalId').val(id);
        });
    });
    $(document).on('click', '[id="deleteFloorHideModal"]', (function () {
        $("#deleteFloorModal").modal('hide');
        $("#floorModal").modal('show');
    }));
    $(document).on('click', '[id="delete"]', function () {
        debugger
        swalload();
        var options = {};
        options.url = "https://localhost:5001/api/Floor/DeleteFloor";
        options.type = "DELETE";
        var obj = {};
        obj.Id = $("#deleteModalId").val();

        options.data = JSON.stringify(obj);
        options.contentType = "application/json";
        options.dataType = "html";
        debugger
        options.success = function () {
            Swal({
                type: 'success',
                title: 'Thanks',
                text: 'Operation is success',
            }).then(function () {
                $("#floorModal").modal('show');
            })
        };
        options.error = function () {
            Swal({
                type: 'error',
                title: 'Oppsss...',
                text: 'Operation is not success. The item you want to delete have a relation.',
            }).then(function () {
                $("#floorModal").modal('show');
            })
        };
        $("#deleteFloorModal").modal('hide');
        $.ajax(options);
    });
    /*Create Room*/
    $(document).ready(function () {
        $("body").on("click", "[id='CreateShowRoomModal']", function () {
            $("#CreateRoomModal").modal('show');
            $("#roomModal").modal('hide');
        });
    });
    var selectedFloorID;
    var selectedFloorName;
    $(document).ready(function () {
        $("body").on("click", "[id='selectFloor']", function () {

            selectedFloorID = $(this).data('id');
            selectedFloorName = $(this).data('name');
            $("#floorName").empty();
            $("#floorName").append(selectedFloorName);
        });
    });
    $('form[name=CreateRoomForm]').submit(function () {
        swalload();
        var options = {};
        options.url = "https://localhost:5001/api/Room/CreateRoom/";
        options.type = "POST";
        var obj = {};
        obj.Name = $("#RoomName").val();
        obj.FloorId = selectedFloorID;
        debugger
        options.data = JSON.stringify(obj);
        options.contentType = "application/json";
        options.dataType = "html";
        options.success = function (msg) {
            $("#msg").html(msg);
            Swal({
                type: 'success',
                title: 'Thanks',
                text: 'Operation is success',
            }).then(function () {

                window.location.reload();
            })
        };
        options.error = function () {
            $("#msg").html("Error while calling the Web API!");
        };
        $.ajax(options);
        //$("#loginModal").modal('hide');
    });

    /*Delete Room*/
    $(document).ready(function () {

        $("body").on("click", "[id='DeleteRoomButton']", function () {
            $("#deleteRoomModal").modal('show');
            //$("#floorModal").modal('hide');

            var id = $(this).data('id');
            var name = $(this).data('name');
            $("#deleteModalText").empty();
            $("#deleteModalText").append(name).append('<input type="hidden" id="deleteModalId"/>');
            $('#deleteModalId').val(id);
        });
    });
    $(document).on('click', '[id="deleteRoomHideModal"]', (function () {
        $("#deleteRoomModal").modal('hide');
        $("#roomModal").modal('show');
    }));
    $(document).on('click', '[id="deleteroom"]', function () {
        debugger
        swalload();
        var options = {};
        options.url = "https://localhost:5001/api/Room/DeleteRoom";
        options.type = "DELETE";
        var obj = {};
        obj.Id = $("#deleteModalId").val();

        options.data = JSON.stringify(obj);
        options.contentType = "application/json";
        options.dataType = "html";
        debugger
        options.success = function () {
            Swal({
                type: 'success',
                title: 'Thanks',
                text: 'Operation is success',
            }).then(function () {
                window.location.reload();
            })
        };
        options.error = function () {
            Swal({
                type: 'error',
                title: 'Oppsss...',
                text: 'Operation is not success. The item you want to delete have a relation.',
            }).then(function () {
                window.location.reload();
            })
        };
        //$("#deleteFloorModal").modal('hide');
        $.ajax(options);
    });
</script>