@model IEnumerable<Beamity.Application.DTOs.RelationDTO.ReadRelationDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="row justify-content-end">
    <button id="btnShowModal" type="button" class="btn btn-outline-success">
        Create New
    </button>
    <div class="col-md-1"></div>
</div>
<div class="modal fade" tabindex="-1" id="loginModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align-content-lg-start">Create Relation</h4>
                <button type="button" class="close text-lg-right" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <label class="control-label">Contents</label>
                        
                        <select id="contents" class="form-control"></select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Artifacts</label>
                        <select id="artifacts" class="form-control"></select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Beacons</label>
                        <select id="beacons" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Proximity</label>
                        <select id="proximity" class="form-control"></select>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="create" class="btn btn-primary button button4">Create</button>
                <button type="button" id="btnHideModal" class="btn btn-primary button button4">
                    Hide
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="deleteModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align-content-lg-start">Delete Relation</h4>
                <button type="button" class="close text-lg-right" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to delete this?</h4>
                <p id="deleteModalText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="delete" class="btn btn-primary button button4">Delete</button>
                <button type="button" id="deleteHideModal" class="btn btn-primary button button4">
                    Hide
                </button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" tabindex="-1" id="detailModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align-content-lg-start">Relation Details</h4>
                <button type="button" class="close text-lg-right" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <p id="detailModalText"></p>
                <form>

                    <div class="form-group">
                        <label class="control-label">Contents</label>
                        <select id="editContent" class="form-control"></select>
                        <span class="font-weight-bold">Current: <i id="currentContent"></i></span>

                    </div>


                    <div class="form-group">
                        <label class="control-label">Artifacts</label>
                        <select id="editArtifact" class="form-control"></select>
                        <span class="font-weight-bold">Current: <i id="currentArtifact"></i></span>

                    </div>


                    <div class="form-group">
                        <label class="control-label">Beacons</label>
                        <select id="editBeacon" class="form-control"></select>
                        <span class="font-weight-bold">Current: <i id="currentBeacon"></i></span>

                    </div>

                    <div class="form-group">
                        <label class="control-label">Proximity</label>
                        <select id="editProximity" class="form-control"></select>
                        <span class="font-weight-bold">Current: <i id="currentProximity"></i></span>

                    </div>

                    <input id="editCTime" type="datetime" disabled />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="update" class="btn btn-primary button button4">Update</button>
                <button type="button" id="detailHideModal" class="btn btn-primary button button4">
                    Hide
                </button>
            </div>
        </div>
    </div>
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtifacName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeaconName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proximity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ArtifacName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BeaconName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Proximity)
                        </td>
                        <td>
                            <input type="button" class="btn btn-primary"data-artifact="@item.ArtifacName" 
                                   data-beacon="@item.BeaconName" data-content="@item.ContentName" data-prox="@item.Proximity" data-id="@item.Id" data-ctime="@item.CreatedTime"
                                   value="Details" id="detailShowModal" />
                            <input type="button" class="btn btn-primary" id="deleteShowModal"  data-id="@item.Id" value="Delete" />
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

</script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        debugger
        $("#btnShowModal").click(function () {
            $("#loginModal").modal('show');

        });

        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });
    });
    $("#create").click(function () {
        var options = {};
        options.url = "https://localhost:5001/api/Relation/CreateRelation/";
        options.type = "POST";
        debugger
        var obj = {};
        obj.ArtifactId = $('#artifacts').val();
        obj.ConTentId = $('#contents').val();
        obj.BeaconId = $('#beacons').val();
        obj.Proximity = $('#proximity').val();
        ////Add Data/////

        options.data = JSON.stringify(obj);
        options.contentType = "application/json";
        options.dataType = "html";
        debugger
        options.success = function (msg) {
            $("#msg").html(msg);
            Swal({
                type: 'success',
                title: 'Thanks',
                text: 'Operation is success',
            }).then(function () {

                window.location.href = "/Relation/Index";
            })
        };
        options.error = function () {
            $("#msg").html("Error while calling the Web API!");
        };
        $.ajax(options);
        $("#loginModal").modal('hide');
    });
    $(document).ready(function () {
        var options = {};
        options.url = "https://localhost:5001/api/Artifact/GetAllArtifacts";
        options.type = "GET";
        options.dataType = "json";
        options.success = function (data) {
            debugger
            data.forEach(function (v) {
               
                $('[id = "artifacts"]').append('<option value="' + v.id + '">' + v.name + '</option>');
            });
        };
        options.error = function () {
            alert("error");
        };
        $.ajax(options);
    });
    $(document).ready(function () {
        var options = {};
        options.url = "https://localhost:5001/api/Content/GetAllContents";
        options.type = "GET";
        options.dataType = "json";
        options.success = function (data) {
            debugger
            data.forEach(function (v) {
                $('[id = "contents"]').append('<option value="' + v.id + '">' + v.name + '</option>');
            });
        };
        options.error = function () {
            alert("error");
        };
        $.ajax(options);
    });
    $(document).ready(function () {
        var options = {};
        options.url = "https://localhost:5001/api/Beacon/GetAllBeacons";
        options.type = "GET";
        options.dataType = "json";
        options.success = function (data) {
            debugger
            data.forEach(function (v) {
                $('[id = "beacons"]').append('<option value="' + v.id + '">' + v.name + '</option>');
            });
        };
        options.error = function () {
            alert("error");
        };
        $.ajax(options);
    });
    $(document).ready(function () {
        var myobject = {
            ValueA: 'All',
            ValueB: 'Immediate',
            ValueC: 'Near',
            ValueD: 'Far',
            ValueE: 'UnKnown'
        };

        var select = document.getElementById("proximity");
        for (index in myobject) {
            select.options[select.options.length] = new Option(myobject[index], myobject[index]);
        }
    });
    $(document).ready(function () {
        var myobject = {
            ValueA: 'All',
            ValueB: 'Immediate',
            ValueC: 'Near',
            ValueD: 'Far',
            ValueE: 'UnKnown'
        };

        var select = document.getElementById("editProximity");
        for (index in myobject) {
            select.options[select.options.length] = new Option(myobject[index], myobject[index]);
        }
    });
    $(document).ready(function () {
        $('[id="deleteShowModal"]').click(function () {
            $("#deleteModal").modal('show');
            var id = $(this).data('id');
            $("#deleteModalText").empty();
            $("#deleteModalText").append('<input type="hidden" id="deleteModalId"/>');
            $('#deleteModalId').val(id);
        });

        $("#deleteHideModal").click(function () {
            $("#deleteModal").modal('hide');
        });
    });
    $("#delete").click(function () {
        var options = {};
        options.url = "https://localhost:5001/api/Relation/DeleteRelation";
        options.type = "DELETE";
        var obj = {};
        obj.Id = $("#deleteModalId").val();
        options.data = JSON.stringify(obj);
        options.contentType = "application/json";
        options.dataType = "html";
        options.dataType = "html";
        debugger
        options.success = function () {
            Swal({
                type: 'success',
                title: 'Thanks',
                text: 'Operation is success',
            }).then(function () {

                window.location.href = "/Relatiion/Index";
            })
        };
        options.error = function () {
            alert("error");
        };
        $("#deleteModal").modal('hide');
        $.ajax(options);
    });



    $(document).ready(function () {
        $('[id="detailShowModal"]').click(function () {
            $("#detailModal").modal('show');
            var id = $(this).data('id');
            var ctime = $(this).data('ctime');
            var artifact = $(this).data('artifact');
            var beacon = $(this).data('beacon');
            var content = $(this).data('content');
            var prox= $(this).data('prox');
           

            $("#currentArtifact").text(artifact);
            $("#currentBeacon").text(beacon);
            $("#currentContent").text(content);
            $("#currentProximity").text(prox);
            $("#editCTime").val(ctime);



            $("#detailModalText").append('<input type="hidden" id="detailModalId"/>');
            $('#detailModalId').val(id);
        });

        $("#detailHideModal").click(function () {
            $("#detailModal").modal('hide');
        });
    });
    $("#update").click(function () {
        var options = {};
        options.url = '/Relation/UpdateRelation';
        options.type = "PUT";
        var obj = {};
        obj.Id = $("#detailModalId").val();
        obj.ArtifactId = $("#editArtifact").val();
        obj.ConTentId = $("#editContent").val();
        obj.BeaconId = $("#editBeacon").val();
        obj.Proximity = $("#editProximity").val();

        debugger
        options.data = JSON.stringify(obj);
        options.contentType = "application/json";
        options.dataType = "html";
        options.success = function () {
            Swal({
                type: 'success',
                title: 'Thanks',
                text: 'Operation is success',
            }).then(function () {

                window.location.href = "/Relation/Index";
            })
        };
        options.error = function () {
            alert("error");
        };
        $("#detailModal").modal('hide');
        $.ajax(options);
    });


    $(document).ready(function () {
        var options = {};
        options.url = "https://localhost:5001/api/Artifact/GetAllArtifacts";
        options.type = "GET";
        options.dataType = "json";
        options.success = function (data) {
            debugger
            data.forEach(function (v) {

                $('[id = "editArtifact"]').append('<option value="' + v.id + '">' + v.name + '</option>');
            });
        };
        options.error = function () {
            alert("error");
        };
        $.ajax(options);
    });
    $(document).ready(function () {
        var options = {};
        options.url = "https://localhost:5001/api/Content/GetAllContents";
        options.type = "GET";
        options.dataType = "json";
        options.success = function (data) {
            debugger
            data.forEach(function (v) {
                $('[id = "editContent"]').append('<option value="' + v.id + '">' + v.name + '</option>');
            });
        };
        options.error = function () {
            alert("error");
        };
        $.ajax(options);
    });
    $(document).ready(function () {
        var options = {};
        options.url = "https://localhost:5001/api/Beacon/GetAllBeacons";
        options.type = "GET";
        options.dataType = "json";
        options.success = function (data) {
            debugger
            data.forEach(function (v) {
                $('[id = "editBeacon"]').append('<option value="' + v.id + '">' + v.name + '</option>');
            });
        };
        options.error = function () {
            alert("error");
        };
        $.ajax(options);
    });
</script>