@model IEnumerable<Beamity.Application.DTOs.ArtifactDTOs.ReadArtifactDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-start m-1">
    <button id="btnShowModal" type="button" class="btn btn-outline-success">
        Create New
    </button>
</div>
<div class="modal fade" tabindex="-1" id="loginModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align-content-lg-start">Create Artifact</h4>
                <button type="button" class="close text-lg-right" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input class="form-control" type="text"
                               placeholder="Artifact Name" id="inputName" />
                    </div>

                    <input type="file" id="file" name="files" />

                    <div class="form-group">
                        <label class="control-label">Rooms</label>
                        <select id="rooms" class="form-control"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="create" class="btn btn-primary button button4">Create</button>
                <button type="button" id="btnHideModal" class="btn btn-primary button button4">
                    Hide
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="deleteModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align-content-lg-start">Delete Artifact</h4>
                <button type="button" class="close text-lg-right" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to delete this?</h4>
                <p id="deleteModalText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="delete" class="btn btn-primary button button4">Delete</button>
                <button type="button" id="deleteHideModal" class="btn btn-primary button button4">
                    Hide
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="detailModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align-content-lg-start">Artifact Details</h4>
                <button type="button" class="close text-lg-right" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <form method="put" enctype="multipart/form-data">
                    <p id="detailModalText"></p>
                    <div class="form-group">
                        <input class="form-control" type="text"
                               placeholder="Name" id="editName" />
                    </div>
                    <input type="file" id="editfiles" name="files" />

                    <select class="form-control" id="EditRoom"></select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="update" class="btn btn-primary button button4">Update</button>
                <button type="button" id="detailHideModal" class="btn btn-primary button button4">
                    Hide
                </button>
            </div>
        </div>
    </div>
</div>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.RoomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedTime)
            </th>

            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FloorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuildingName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedTime)
                </td>
                <td>
                    <input type="button" class="btn btn-primary" data-id="@item.Id" data-name="@item.Name"
                           data-ctime="@item.CreatedTime" value="Details" id="detailShowModal" /> |
                    <input type="button" class="btn btn-primary" id="deleteShowModal" data-name="@item.Name" data-id="@item.Id" value="Delete" />
                </td>
            </tr>
        }
    </tbody>
</table>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

</script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">
    var locationId;

    $(document).ready(function () {
        debugger
        $.ajax({
            
            url: "/Session/GetVariable",
            data: {
                "LocationId": locationId
            },
            cache: false,
            type: "Get",
            success: function (response) {

            },
            error: function (xhr) {

            }
        });

    });
    function swalload() {
        swal.fire({
            title: 'Loading....',
            html: 'Please wait during the processing time',
            timer: 10000,
            onBeforeOpen: () => {
                Swal.showLoading()
                timerInterval = setInterval(() => {
                    Swal.getContent().querySelector('strong')
                        .textContent = Swal.getTimerLeft()
                }, 100)
            },
            onClose: () => {

            }
        });
    }
    $(document).ready(function () {
        $("#btnShowModal").click(function () {
            $("#loginModal").modal('show');

        });

        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });
    });
    $("#create").click(function () {
        swalload();
        var options = {};
        options.url = '/Artifact/CreateArtifact';
        options.type = "POST";
        var obj = new FormData();
        obj.append('Name', $("#inputName").val());
        obj.append('RoomId', $("#rooms").val());
        obj.append('File', $("#file")[0].files[0]);
        debugger
        options.data = obj;
        options.contentType = false;
        options.processData = false;
        console.log($("#rooms").val());
        options.success = function (msg) {
            $("#msg").html(msg);
            Swal({
                type: 'success',
                title: 'Thanks',
                text: 'Operation is success',
            }).then(function () {

                window.location.href = "/Artifact/Index";
            })
        };
        options.error = function (error) {
            alert("error");
            alert(error.msg);
        };
        $.ajax(options);
        $("#loginModal").modal('hide');
    });
    $(document).ready(function () {
        var options = {};
        options.url = "https://localhost:5001/api/Room/GetAllRooms";
        options.type = "GET";
        options.dataType = "json";
        options.success = function (data) {
            data.forEach(function (v) {
                $("#rooms").append('<option value="' + v.id + '">' + v.name + '</option>');
                $("#EditRoom").append('<option value="' + v.id + '">' + v.name + '</option>');
            });
        };
        options.error = function () {
            alert("error");
        };
        $.ajax(options);
    });
    $(document).ready(function () {
        $('[id="deleteShowModal"]').click(function () {
            $("#deleteModal").modal('show');
            var id = $(this).data('id');
            var name = $(this).data('name');
            $("#deleteModalText").empty();
            $("#deleteModalText").append(name).append('<input type="hidden" id="deleteModalId"/>');
            $('#deleteModalId').val(id);
        });

        $("#deleteHideModal").click(function () {
            $("#deleteModal").modal('hide');
        });
    });
    $("#delete").click(function () {
        swalload();
        var options = {};
        options.url = "https://localhost:5001/api/Artifact/DeleteArtifact";
        options.type = "DELETE";
        var obj = {};
        obj.Id = $("#deleteModalId").val();
        options.data = JSON.stringify(obj);
        options.contentType = "application/json";
        options.dataType = "html";
        debugger
        options.success = function () {
            Swal({
                type: 'success',
                title: 'Thanks',
                text: 'Operation is success',
            }).then(function () {

                window.location.href = "/Artifact/Index";
            })
        };
        options.error = function () {
            Swal({
                type: 'error',
                title: 'Oppsss...',
                text: 'Operation is not success. The item you want to delete have a relation.',
            }).then(function () {
                window.location.href = "/Artifact/Index";
            })
        };
        $("#deleteModal").modal('hide');
        $.ajax(options);
    });

    $("#update").click(function () {
        swalload();
        var options = {};
        options.url = '/Artifact/UpdateArtifact';
        options.type = "PUT";
        var obj = new FormData();
        obj.append('Name', $("#editName").val());
        obj.append('RoomId', $("#EditRoom").val());
        obj.append('File', $("#editfiles")[0].files[0]);
        obj.append('Id', $("#detailModalId").val());
        debugger
        options.data = obj;
        options.contentType = false;
        options.processData = false;
        console.log($("#rooms").val());
        options.success = function (msg) {
            Swal({
                type: 'success',
                title: 'Thanks',
                text: 'Operation is success',
            }).then(function () {

                window.location.href = "/Artifact/Index";
            })
        };
        options.error = function () {
            Swal({
                type: 'error',
                title: 'Oppsss...',
                text: 'Operation is not success. The item you want to delete have a relation.',
            }).then(function () {
                window.location.href = "/Artifact/Index";
            })
        };
        $("#detailModal").modal('hide');
        $.ajax(options);
    });
    $(document).ready(function () {
        $('[id="detailShowModal"]').click(function () {
            $("#detailModal").modal('show');

            var id = $(this).data('id');
            var name = $(this).data('name');
            var room = $(this).data('room');

            $("#editName").val(name);
            $("#EditRoom").val(room);

            $("#detailModalText").append('<input type="hidden" id="detailModalId"/>');
            $('#detailModalId').val(id);
        });

        $("#detailHideModal").click(function () {
            $("#detailModal").modal('hide');
        });
    });
</script>