@model IEnumerable<Beamity.Application.DTOs.ArtifactDTOs.ReadArtifactDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-end">
    <button id="btnShowModal" type="button" class="btn btn-outline-success">
        Create New
    </button>
</div>
<div class="modal fade" tabindex="-1" id="loginModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align-content-lg-start">Create Building</h4>
                <button type="button" class="close text-lg-right" data-dismiss="modal">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input class="form-control" type="text"
                               placeholder="Artifact Name" id="inputName" />
                    </div>

                    <input type="file" id="file" name="files" />

                    <div class="form-group">
                        <label class="control-label">Rooms</label>
                        <select id="rooms" class="form-control"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="create" class="btn btn-primary button button4">Create</button>
                <button type="button" id="btnHideModal" class="btn btn-primary button button4">
                    Hide
                </button>
            </div>
        </div>
    </div>
</div>







<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainImageURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedTime)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MainImageURL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FloorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuildingName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedTime)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

</script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnShowModal").click(function () {
            $("#loginModal").modal('show');

        });

        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });
    });
   

    $("#create").click(function () {
        var options = {};
        options.url = '/Artifact/CreateArtifact';
        options.type = "POST";

        var obj = new FormData();
        obj.append('Name', $("#inputName").val());
        obj.append('RoomId', $("#rooms").val());
        obj.append('File', $("#file")[0].files[0]);

        debugger
        options.data = obj;

        

        options.contentType = false;
        options.processData = false;

        

        console.log($("#rooms").val());
        options.success = function (msg) {
            $("#msg").html(msg);
            Swal({
                type: 'success',
                title: 'Thanks',
                text: 'Operation is success',
            }).then(function () {

                window.location.href = "/Artifact/Index";
            })
        };
        options.error = function (error) {
            alert("error");
            alert(error.msg);
        };
        $.ajax(options);
        $("#loginModal").modal('hide');
    });

        $(document).ready(function () {
            var options = {};
            options.url = "https://localhost:5001/api/Room/GetAllRooms";
            options.type = "GET";
            options.dataType = "json";
            options.success = function (data) {
                data.forEach(function (v) {
                    $("#rooms").append('<option value="' + v.id + '">' + v.name + '</option>');
                });
            };
            options.error = function () {
                alert("error");
            };
            $.ajax(options);
        });
    
</script>