@model IEnumerable<Beamity.Application.DTOs.ContentDTOs.ReadContentDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row justify-content-end">
    <button  type="button" onclick="window.location.href = 'Content/Create'" class="btn btn-outline-success">
        Create New
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CreatedTime)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.CreatedTime)
                </td>

                <td>
                    <input type="button" class="btn btn-primary" data-id="@item.Id" data-name="@item.Name"
                           data-ctime="@item.CreatedTime" value="Details" id="detailShowModal" />
                    <input type="button" class="btn btn-primary" id="deleteShowModal" data-name="@item.Name" data-id="@item.Id" value="Delete" />
                </td>
            </tr>
        }
    </tbody>
</table>
